In [1]:
import csv
import pandas as pd

from tqdm.auto import tqdm

from MordinezNLP.processors import BasicProcessor

Since the GPL-licensed package `unidecode` is not installed, using Python's `unicodedata` package which yields worse results.

In [2]:
dev_in = pd.read_csv("../data/dev/in.tsv", delimiter='\t', header=None, encoding="utf8")
test_in = pd.read_csv("../data/test/in.tsv", delimiter='\t', header=None, encoding="utf8")
train_in = pd.read_csv("../data/train/in.tsv", delimiter='\t', header=None, encoding="utf8")

In [3]:
dev_in.head()

                                                   0
0  28.11.2014 EN Official Journal of the European...
1  5.11.2016 EN Official Journal of the European ...
2  12.10.2016 EN Official Journal of the European...
3  L 334/40 EN Official Journal of the European U...
4  20.11.2014 EN Official Journal of the European...

In [4]:
test_in.head()

                                                   0
0  8.4.2020 EN Official Journal of the European U...
1  C 390/108 EN Official Journal of the European ...
2  C 433/128 EN Official Journal of the European ...
3  23.12.2019 EN Official Journal of the European...
4  C 463/56 EN Official Journal of the European U...

In [5]:
train_in.head()

                                                   0
0  EUROPEAN COMMISSION Brussels, 15.5.2014 COM(20...
1  EUROPEAN COMMISSION Brussels, 28.5.2014 COM(20...
2  EUROPEAN COMMISSION Brussels, 11.6.2014 COM(20...
3  EUROPEAN COMMISSION Brussels, 28.5.2014 COM(20...
4  EUROPEAN COMMISSION Brussels, 28.5.2014 COM(20...

In [6]:
def processing_func(texts_list):
    return bp.process(
        texts_list, 
        language='en',
        fix_unicode=True,
        lower=False,
        no_line_breaks=True,
        no_urls=True,
        no_emails=True,
        no_phone_numbers=False,
        no_numbers=True,
        no_digits=True,
        no_currency_symbols=False,
        no_punct=False,
        no_math=False,
        no_dates=True,
        no_lists=False,
        no_brackets=False,
        no_multiple_chars=False,
        use_pos_tagging=False,
        list_processing_threads=24,
        tokenizer_threads=24
    )

In [7]:
bp = BasicProcessor()

In [9]:
texts_dev_in = processing_func(dev_in[0])

Processing text list:   0%|          | 0/3427 [00:00<?, ?it/s]

In [10]:
texts_test_in = processing_func(test_in[0])

Processing text list:   0%|          | 0/6858 [00:00<?, ?it/s]

In [ ]:
texts_train_in = processing_func(train_in[0])

Processing text list:   0%|          | 0/23999 [00:00<?, ?it/s]

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [12]:
print('test')

test

In [13]:
with open("../data/dev/lm.txt", "w", encoding="utf8") as f:
    for item in tqdm(texts_dev_in):
        f.write(item + '\n')

  0%|          | 0/3427 [00:00<?, ?it/s]

In [14]:
with open("../data/test/lm.txt", "w", encoding="utf8") as f:
    for item in tqdm(texts_test_in):
        f.write(item + '\n')

  0%|          | 0/6858 [00:00<?, ?it/s]

In [15]:
with open("../data/train/lm.txt", "w", encoding="utf8") as f:
    for item in tqdm(texts_train_in):
        f.write(item + '\n')

  0%|          | 0/23999 [00:00<?, ?it/s]

In [16]:
bp.get_special_tokens()

['<url>',
 '<email>',
 '<phone>',
 '<number>',
 '0',
 '<currency>',
 '<date>',
 '<bracket>',
 '<more>',
 '<less>']